:root {
  --colorPrimary: #48435B;
  --colorSecondary: #F0F1F5;
  --primaryButtonColor: #E13D5C;
}

body {
  margin: 0;
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

#basic-layout {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, var(--colorPrimary) 50%, var(--colorSecondary) 50%);
  display: flex;
  align-items: center;
}

#basic-layout>* {
  flex: 1;
  color: white;
}